
<div class="container mt-3">
  <h2 class="text-left" style="padding-bottom: 10px;">Lista de Usuarios</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table table-success table-hover">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="custom-header">id</th>
      <td mat-cell *matCellDef="let user">{{ user.id }}</td>
    </ng-container>
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef>Nombres</th>
      <td mat-cell *matCellDef="let user">{{ user.nombres }}</td>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef>Apellidos</th>
      <td mat-cell *matCellDef="let user">{{ user.apellidos }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>
    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef>Celular</th>
      <td mat-cell *matCellDef="let user">{{ user.celular }}</td>
    </ng-container>
    <ng-container matColumnDef="foto">
      <th mat-header-cell *matHeaderCellDef>Foto</th>
      <td mat-cell *matCellDef="let user"><img [src]="user.foto" alt="Foto" class="img-fluid"></td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let user">
        <div >
          <button tyoe="button" class="btn btn-primary" (click)="editarUsuario(user)">Editar</button>
          <button type="button" class="btn btn-outline-danger" (click)="eliminarUsuario(user.id)">Eliminar</button>
        </div>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="[10]"
                  [pageSizeOptions]="[5, 10, 25, 50]"
                  aria-label="Select page"
                  showFirstLastButton>
  </mat-paginator>
</div>
