/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.img-fluid {
  max-width: 50px;
  max-height: 50px;
}

.mat-column-id,
.mat-column-email{
  width: auto;
  border-right: none;
  padding-right: 0;
  text-align: left;
}



